[Unit]
Description = PiCamFleetMapper
After=network.target

[Service]
Type = simple
ExecStart = /home/pi/PiCamFleetMapper/FleetMapper.py --camera
RestartSec = 1s
StartLimitInterval = 0

[Install]
WantedBy = multi-user.target